{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="left">Categoria</h1>
                            <a href="{{ route('category-costs.new') }}" class="bt bt-light hvr-underline-from-left right"><i class="fas fa-plus"></i> Nova Categoria</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Categoria</th>
                                    <th>Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for category in categories %}
                                <tr>
                                    <td>{{ category.id }}</td>
                                    <td>{{ category.name }}</td>
                                    <td><a href="{{ route('category-costs.edit', {'id' : category.id}) }}"><i class="fas fa-pencil-alt"></i></a> |
                                        <a href="{{ route('category-costs.show', {'id' : category.id}) }}"><i class="fas fa-eraser"></i></a>
                                        </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}